$index-chapter-gutters: 2em;
$index-page-gutters: $index-chapter-gutters / 2;
$footer-page-gutters: 1em;

.chapter__wrapper {

  &.main {
    padding: 10vh 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.index {
    margin-left: $index-gutters;
    margin-top: $index-gutters;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      order: 1;
    }

    img {
      max-width: 10em;
      order: 0;
    }

    .thumbnail:hover {
      border-bottom-color: transparent;
    }

    .pages-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: $index-page-gutters - $index-chapter-gutters;
      margin-left: $index-page-gutters - $index-chapter-gutters;
      justify-content: space-between;
      order: 2;
    }
  }

  &.footer {
    display: flex;
    margin-left: -$footer-gutters;

    & > * {
      margin-left: $footer-gutters;
    }

    h2 {
      @extend %divider-after;
    }

    .pages-list {
      display: flex;
      margin-left: $footer-gutters - $footer-page-gutters;
    }
  }
}
