.header__wrapper {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 8vh;
  padding-right: 1vw;

  & > * {
    margin-right: 1em;
  }

  .imprint {
    align-items: center;
    display: flex;
    height: inherit;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    padding-top: 0.5vh;
    position: relative;

    &:before {
      background-color: $header-link-color-hover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      transition: width 0.25s ease-in-out;
      width: 0;
    }

    &:hover:before {
      width: 0.5em;
    }

    img {
      height: 100%;
      padding-right: 1vw;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-top: 1em;
    }
  }

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: auto;

    ul {
      align-items: center;
      display: flex;
      height: 100%;
      list-style-type: none;
    }

    li {
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;

      &:after {
        background-color: $header-link-color-hover;
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
        transition: height 0.25s ease-in-out;
      }

      &:hover:after {
        height: 0.5em;
      }
    }

    a {
      align-items: center;
      display: flex;
      height: inherit;
      padding-top: 1em;
    }
  }
}
