.series__wrapper {
  display: flex;

  &.main {
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;

    .chapter-list {
      display: flex;
      margin-top: -$index-gutters;
      margin-left: -$index-gutters;
    }
  }

  &.footer,
  &.index {
    margin-left: -$footer-gutters;

    & > * {
      margin-left: $footer-gutters;
    }

    h1 {
      @extend %divider-after;
    }
  }
}
