// inject:scss
// endinject

body {
  background: #fafafa;
}

.box { background-color: rgba(0,0,0,0.1); }
.red-box { background-color: rgba(255,0,0,0.1); }
.blue-box { background-color: rgba(0,0,255,0.1); }
